* {
    font-family: 'Work Sans', sans-serif;
}

/* Nav Section */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.logo {
    height: 2.5rem;
}

.logo-container {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    width: 50%;
}

.nav-btn {
    width: 262px;
    height: 70px;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
    border-radius: 8px;
    border-style: none;
    background: rgba(11, 2, 35, 0.10);
    text-align: left;
    padding-bottom: 10px;
}
li:hover {
    color: #F948B2;
    cursor: pointer;
    font-weight: 700;
}

.nav-btn img {
    margin-left: 30px;
    text-align: center;
}

/* Banner section  */
.banner-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background: #FFF;
    margin: auto;
    background-image: url(./images/Group\ 14.png);
}

.banner-title {
    margin-top: 100px;
    margin-bottom: 100px;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.93rem;
    font-weight: 800;
    text-transform: uppercase;
}

li {
    list-style: none;
}

.banner-btn1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-style: none;
    margin-top: 41px;
    color: white;
}

.banner-btn2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border-style: none;
    margin-left: 20px;

}

.banner-title-play {
    font-size: 3.5rem;
}

.fa-circle-play {
    padding-bottom: 10px;
    font-size: 2rem;
}

.fa-globe {
    padding-bottom: 10px;
    font-size: 2rem;
}

.fa-circle-down {
    font-size: 2rem;
}

.banner-title li {
    font-size: 1.5rem;
}

/* we are gamer */

.we-are-gamer {
    display: flex;
    justify-content: space-evenly;
    text-align: right;
    margin-top: 20px;
}

.gmaer-title h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gmaer-title p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* Online Games */
.online-games {
    margin-top: 20px;

}

span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.online-games h1 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

.online-games-sub {
    color: #534C64;
    text-align: center;
    margin-top: -10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.card-container img {
    width: 280px;
    height: 300px;
    flex-shrink: 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    /* text-align: left; */
    /* align-items: center; */
}

.card-des {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

/* Play section */
.paly-section {
    margin-top: 20px;
    height: 100vh;
}

.play-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.play-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paly-title {

    padding-left: 10rem;
    font-size: 48px;
    font-weight: 700;

}

.paly-des {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-img {
    padding-right: 10rem;
    margin-top: 50px;
}

.play-title-des {
    text-align: end;
    margin-bottom: 360px;
    margin-left: 30px;

}

.feature-img {
    position: relative;
    bottom: 300px;
    margin-left: -150px;

}

/* play online section */
.play-container-online {
    display: flex;

    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

}

.play-online-title-des {
    text-align: left;
    margin-bottom: 360px;
    margin-right: 30px;

}

.paly-online-title {
    padding-right: 10rem;
    font-size: 48px;
    font-weight: 700;

}

.play-online-img {
    padding-left: 10rem;
    margin-top: 50px;

}

.feature-online-img {
    position: relative;
    bottom: 300px;
    padding-left: 500px;
}

/* Career Section */
.career-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    height: 90vh;
    
}
.career-des{
color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-left: 10px;
}

.career-title {
    color:white ;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-left: 10px;
}
.box-des-1{
color: #FFF;
font-size: 20px;
font-weight: 600;
line-height: 40px; 
}
.box-des-2{
color: #FFF;
font-size: 20px;
font-weight: 600;
line-height: 40px; 
}
.see-poistion-btn{
display: inline-flex;
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
background: #FFF;
margin-left: 10px;
}
.see{
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
border-style: none;
}

/* .career-container{
    display: flex;
} */
.box-container{
    display: flex;
    justify-content: space-around;
}
/* Type of games section */


.type-of-games-container {
    /* border: 1px solid red; */
    padding: 20px;

}


.type-of-games-container {
    margin-top: 80px;
    width: 80%;
    align-items: center;
    margin-left: 150px;
    /* display: flex; */

}

.img-container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    text-align: center;

}

.img-container p {
    font-size: 20px;
    font-weight: 600;
    color: #0B0223;
}

.img-container img:hover {
    border: 1px solid rgb(189, 18, 189);
    border-radius: 50px;
    background: hotpink;

}

.img-container p:hover {
    border: 1px solid hotpink;
    border-width: 20px;
    border-radius: 50px;
    background: hotpink
}

/* footer section */
.footer-container {
    background: #0B0223;
    height: 50vh;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: auto;
}

.footer-logo-container {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-title {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;

    align-content: center;
    margin-left: 400px;
}

.footer-title li {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.footer-social-icon {
    width: 40%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 500px;
}

.footer-social-icon img {
    width: 50px;
    height: 50px;
    /* gap: 30px; */
}

.footer-ploicy {
    width: 55%;
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: space-around;
    margin-left: 350px;
    align-items: center;
    padding-top: 30px;
    font-size: 1rem;
    font-weight: 500;

}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    width: 50%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 400px;
    font-size: 1rem;
    font-weight: 500;

}



/* Responsive media quires */
/* For Mobile Devices */
@media screen and (max-width:576px) {

    .nav-container,
    .banner-img-containe {
        flex-direction: column;
        width: 100%;
        padding-left: 200px;
        align-items: center;
        text-align: center;

    }

    .banner-img-containe {
        margin-left: 50px;
        width: auto;

    }

    .banner-title,
    .banner-img-container,
    .we-are-gamer,
    .online-games,
    .img-container,
    /* .career-container, */
    .career-title,
    .career-des,
    .box-container {
        flex-direction: column;
        align-items: center;
        width:300%;
        padding: 10px;

    }
    /* .career-img{
        flex-direction: row;
    } */

    .card-container,
    .card-des {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
       width: 100%;
       
    }
}